body {
  font-family: "Open Sans", sans-serif;
}

.mainTitle {
  color:chocolate;
  font-size: 90px;
  background-color: aqua;
}

.optionText {
  font-style:italic;
}

.textField h2 {
  font-family: cursive;
  text-decoration: underline;
}
.menu {
  text-decoration: none;
  color: gold;
  border: 5px solid gold;
  border-radius: 25px;
  padding: 0 15px;
}
