body, html {
  font-family: "Open Sans", sans-serif;
  overflow: -moz-scrollbars-horizontal;
}

.mainTitle {
  color:chocolate;
  font-size: 90px;
  background-color: aqua;
}

.optionText {
  font-style:italic;
}

.textField h2 {
  font-family: cursive;
  text-decoration: underline;
}
.menu {
  text-decoration: none;
  color: gold;
  border: 5px solid gold;
  border-radius: 25px;
  padding: 0 15px;
}

#gallery {
    display: block;
    width: 90%;
    overflow-y: scroll;
    height: 200px;
    background-color: #fff;
}


#gallery .capture {
    position: relative;
    float: left;
}


#gallery .time {
  display: block;
}




#gallery img{
  width: 200px;
  height: 200px;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}